__pycache__
Backend/.pytest_cache
.env
miniproject
distancecalc.py
Backend/test_auth_helper.py
Backend/tests
Backend/pytest.ini
Backend/mainv1.py
backend_report.md
.volta_home
# Frontend
/doc_sections
Major Project Documentation (Template).md
Pothole_Reporter_Technical_Documentation.md
